.choose {
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 1rem; 
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
    padding: 0;
}

.img-container {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #bffcfb;
}

.choose img {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.choose a {
    text-decoration: none;
    color: inherit;
}


figcaption{
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    color: black;
}


.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #e8cccc;
    padding: 1px;
    
}

.article{
    display: grid; 
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.content-article{
    border: 3px solid lightgrey;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: fit-content;
}

.content-article h3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.content-article li {
    margin: 8px 0;
}

.content-article a {
    text-decoration: none;
    color: #00767c;
}

.content-article a:hover {
    text-decoration: underline;
    color: black;
}

.article-text{
    grid-column: 2 / 4;
    max-width: 600px;
    text-align: left;
}

.article-text img{
    width: 100%;
    height: auto;
    margin-left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 14px;
    font-family: serif;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

table th {
    background-color: #bffcfb;
    color: black;
    padding: 12px 15px;
}

table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f2f2f2;
}


