header{
    font-size: 15px;
    margin: 0;
}
.navbar {
    background-color: #e8cccc;
    padding: 10px;
}

.brand-image {
    height: 63px;
    width: auto;
    object-fit: contain;
}

.navbar-nav .nav-item{
    margin-right: 10px;
}

.navbar-nav .nav-item:last-child{
    margin-right: 0;
}

.navbar-nav .nav-link {
    padding: 3px;
    color: #00767c;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #bffcfb;
    color: #00767c;
    border-radius: 5px;
}

.search-container {
    gap: 10px;
}

.search-input {
    flex-grow: 1;
}

footer {
    background-color: #e8cccc;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #ddd;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-networks a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-networks img {
    filter: invert(28%) sepia(94%) saturate(980%) hue-rotate(149deg) brightness(94%) contrast(102%);
    transition: filter 0.3s ease;
}

.social-networks a:hover {
    transform: scale(1.1);
}

.footer-text a {
    text-decoration: none;
    color: #00767c;
    font-weight: bold;
}

.footer-text a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #555;
    font-size: 14px;
}

