body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    font-family: Garamond, serif;
}
.container-fluid{
    margin-top: -100px;
    padding-top: 0;
}
header {
    color: #00767c;
    font-style: italic;
    text-align: center;
}

header .display-4 {
    font-size: 70px; 
}

header .lead {
    font-size: 24px; 
}

.custom-navbar {
    width: 160px; 
    height: 160px;
    padding: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-navbar .nav-link {
    color: #00767c;
    font-size: 15px; 
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.custom-navbar .nav-link:hover {
    background-color: #bffcfb;
    color: #00767c;
}

.custom-navbar .nav-link:not(:last-child) {
    margin-bottom: 5px;
}
