body {
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    padding: 20px;
    font-family: serif; 
    text-shadow: black 6px 0 10px;
}


.navbar-homepage {
    text-align: right;
    margin-top: 200px; 
    font-size: 18px;
}

.navbar-homepage ul {
    list-style-type: none; 
    padding: 0; 
}

.navbar-homepage li {
    display: inline; 
    margin: 0 15px; 
}

.navbar-homepage a {
    color: white; 
    text-decoration: none;
}

.navbar-homepage a:hover {
    color:  #00767c;
}

.navbar-homepage .search-container {
    display: inline-block;
}

.navbar-homepage input[type="search"] {
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-left: 15px; 
}

.navbar-homepage button {
    padding: 6px 10px;
    background-color: #00767c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: black 6px 0 10px;
}

.navbar-homepage button:hover {
    background-color: #bffcfb;
    color: black;
}

